# Environment
.venv
.vscode
.env
.env.debug

# Cache files
__pycache__
__lang_cache__
ehrenbot/__pycache__
ehrenbot/cogs/__pycache__
ehrenbot/utils/__pycache__
.DS_Store

# Logs
logs

# Database
*.content
tmp

# Implementation
ehrenbot/cogs/misc.py

# UI
flask-datta-able