aiohttp
aiosignal
anyio
async-timeout
attrs
build
certifi
chardet
charset-normalizer
Destipy
discord-ext-i18n
dnspython
frozenlist
googletrans
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
multidict
packaging
pep517
py-cord
pymongo
python-dotenv
requests
rfc3986
sniffio
tomli
typing_extensions
yarl